.section {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.heading {
  color: #000000;
  font-family: var(--font-body); /* Lato */
  font-weight: 500;
  font-size: var(--font-size-content-large);
  line-height: var(--line-height-content-large);
  letter-spacing: var(--letter-spacing-body);
  margin-bottom: 30px;
}

.commentWrapper {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  overflow: hidden;
}

.content {
  flex: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-content-medium);
  line-height: var(--line-height-content-medium);
  letter-spacing: var(--letter-spacing-body);
  vertical-align: bottom;
  color: #000000;
}

.rating {
  display: flex;
  align-items: center;
}

.date {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-content-small);
  line-height: var(--line-height-content-small);
  letter-spacing: var(--letter-spacing-body);
  color: #757575;
}

.commentText {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-content-medium);
  line-height: var(--line-height-content-medium);
  letter-spacing: var(--letter-spacing-body);
  vertical-align: bottom;
  color: #10152e;
}

@media (max-width: 768px) {
  .topRow {
    flex-direction: column;
    gap: 0.5rem;
  }

  .userInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}
