.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: 500;
  color: #3e3232;
}

@media (max-width: 640px) {
  .label {
    font-size: 0.875rem;
  }
}

.input {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  border: none;
  background-color: #f5f5f5;
  padding: 0.5rem 0.625rem;
  color: #1b1b1b;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .input {
    height: 48px;
    padding: 0.5rem 1rem;
  }
}

.input:focus {
  outline: none;
}

.supportiveText {
  margin-left: 0.25rem;
  font-size: 0.875rem;
  color: #ef4444;
}
