.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 1rem;
}

.profileRow {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.name {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 1px;
}

.location {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
