.heading {
  color: #000000;
  font-family: var(--font-body);
  font-weight: 500;
  font-size: var(--font-size-content-large);
  line-height: var(--line-height-content-large);
  letter-spacing: var(--letter-spacing-body);
  margin-bottom: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.formRow {
  display: flex;
  gap: 25px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.inputWrapper {
  width: 100%;
}

.textareaWrapper {
  gap: 0;
}

.textarea {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #d1d5db;
}

.bottomRow {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.ratingBox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #f5f5f5;
  gap: 15px;
  padding-right: 15px;
}

.ratingText {
  font-weight: 500;
  color: #3e3232;
  padding: 15px;
}

.ratingIcons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.ratingButton {
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
}

.activeRating {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  padding: 10px 24px 10px 16px;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: #111827;
  padding: 14px 24px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.addCommentMobileOnly {
  display: none;
}

.addCommentDesktopOnly {
  display: block;
}

@media (max-width: 480px) {
  .addCommentMobileOnly {
    display: block;
  }

  .addCommentDesktopOnly {
    display: none;
  }

  .ratingBox {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 0;
  }

  .formRow {
    flex-direction: column;
  }

  .bottomRow {
    flex-direction: column;
    gap: 25px;
  }

  .submitButton {
    width: 100%;
  }

  .ratingIcons {
    padding: 0px 0px 15px 0px;
  }

  .section {
    padding: 30px 0 0 0;
  }
}
