.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1.82;
  overflow: hidden;
}

.metaRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tag {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
}

.date {
  font-size: 14px;
  color: #757575;
  padding-left: 10px;
  border-left: 1px solid #d3d3d3;
}

.excerpt {
  color: #121212;
  font-family: Lato;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.desktopOnly {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.mobileOnly {
  display: none;
}

@media (max-width: 768px) {
  .card {
    gap: 15px !important;
  }
}

@media (max-width: 480px) {
  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: block;
  }

  .metaRow {
    margin-top: 15px;
  }

  .card {
    gap: 10px !important;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.swiper {
  width: 100%;
}

.navRow {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid black;
  padding: 6px 12px;
  background: transparent;
  cursor: pointer;
}

.arrowCircle {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid black;
}

.rotate {
  transform: rotate(180deg);
}
