.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-weight: 500;
  color: #3e3232;
}

@media (max-width: 640px) {
  .label {
    font-size: 0.875rem;
  }
}

.textarea {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 24px 22px;
  color: #1b1b1b;
  font-size: 1rem;
  line-height: 1.5;
}

.textarea:focus {
  outline: none;
}

.hideScrollbar {
  scrollbar-width: none; /* Firefox */
}

.hideScrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.supportiveText {
  margin-left: 0.25rem;
  font-size: 0.875rem;
  color: #ef4444;
}
