.wrapper {
  padding: 64px 0;
  background-color: #f5f5f6;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: var(--font-body);
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  line-height: 66px;
  letter-spacing: var(--letter-spacing-heading);
  text-align: center;
  margin: 0 0 64px 0;
}

@media (max-width: 768px) {
  .heading {
    font-size: 28px;
    line-height: 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-family: var(--font-body);
  font-style: normal;
  font-size: var(--font-size-content-large);
  line-height: var(--line-height-content-large);
  letter-spacing: var(--letter-spacing-body);
  color: #10152e;
}

.content {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-content-medium);
  line-height: var(--line-height-content-medium);
  letter-spacing: var(--letter-spacing-body);
  color: #4e5265;
}

.author {
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size-content-small);
  line-height: var(--line-height-content-small);
  letter-spacing: var(--letter-spacing-body);
  color: #000000;
}
